<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kskkbys.loop"
    android:installLocation="preferExternal"
    android:versionCode="18"
    android:versionName="2.0.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.kskkbys.loop.LoopApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/loop_app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kskkbys.loop.ui.SplashActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/loop_app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kskkbys.loop.ui.MainActivity"
            android:label="@string/loop_app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.kskkbys.loop.ui.VideoPlayerActivity"
            android:label="@string/loop_app_name" >
        </activity>
        <activity
            android:name="com.kskkbys.loop.ui.SettingsActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/loop_settings_title" >
        </activity>

        <service android:name="com.kskkbys.loop.service.VideoPlayerService" >
        </service>

        <provider
            android:name="com.kskkbys.loop.search.ArtistSuggestionsProvider"
            android:authorities="com.kskkbys.loop.search.ArtistSuggestionsProvider" />

        <receiver
            android:name="com.kskkbys.loop.ui.widget.LoopWidgetProvider"
            android:label="@string/loop_app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>
        <service android:name=".ui.widget.LoopWidgetProvider$WidgetService" >
        </service>
    </application>

</manifest>